.grow {
  background-color: white;
  padding-bottom: 150px;

  &__header {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    ul {
      list-style: none;
      display: flex;
      gap: 10px;

      font-size: 50px;
      color: #354733;
      font-weight: bold;
      margin-bottom: 10px;

      :last-child {
        color: #8a9b6e;
      }
    }

    p {
      margin-top: 0;
      padding-top: 0;
      width: 998px;
      text-align: center;
      color: #afb2aa;
      line-height: 30px;
    }
  }

  &__adviceCards {
    display: flex;
    justify-content: space-between;

    padding-left: 100px;
    padding-right: 100px;
    margin-top: 80px;
    gap: 100px;

    img {
      width: 60px;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      display: flex;
      flex-direction: column;
      gap: 20px;

      align-items: center;

      :last-child {
        color: #1e1e24;
        font-weight: bold;
        font-size: 25px;
      }
    }

    p {
      width: 350px;
      text-align: center;
      color: #808276;
    }
  }

  &__ourWeb {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 70px;

    img {
      width: 380px;
    }

    div {
      width: 380px;
      text-align: center;

      img {
        max-height: 200px;
        margin-bottom: 20px;
      }

      ul {
        text-align: center;
        :last-child {
          width: 380px;
          line-height: 25px;
          color: #808276;
          margin-bottom: 20px;
        }
      }
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    button {
      border: none;
      padding: 15px;
      width: 180px;
      background-color: #354733;
      color: white;

      text-align: center;
      margin-top: 15px;
    }
  }
}
