.hero {
  display: flex;
  align-items: center;

  background-color: #f0f1ee;
  padding-left: 150px;

  width: 80rem;
  margin-left: auto;
  margin-right: auto;

  overflow: hidden;
  position: relative;

  gap: 68px;

  &__main {
    padding-bottom: 0;
    width: fit-content;

    h3 {
      font-family: fantasy;

      font-size: 15px;
      color: #000000;
    }

    &--leftInfo {
      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        display: flex;
        gap: 15px;

        letter-spacing: 2px;
        font-size: 50px;
        color: #364633;

        font-weight: bold;

        width: fit-content;

        :last-child {
          color: #8a9c6e;
        }
      }

      h2 {
        letter-spacing: 2px;
        font-size: 50px;
        color: #364633;
        padding: 0;
        margin: 0;
      }

      p {
        width: 550px;
        color: #808276;

        line-height: 26px;
      }
    }

    button {
      border: none;
      padding: 15px;
      width: 180px;
      background-color: #354733;
      color: white;

      text-align: center;
      margin-top: 15px;
    }

    &--gardening {
      height: 190px;

      .mainImage {
        transform: translate(0, -50px);
        filter: grayscale(100%);
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        display: flex;
        gap: 5px;

        transform: translate(0px, -600px);

        color: #354733;
        font-size: small;

        img {
          width: 14px;
        }
      }
    }
  }

  &__image {
    height: 800px;
    transform: translate(-200px);

    right: 0;

    filter: grayscale(100%);
  }
}
