.popular {
  padding-bottom: 100px;
  &__header {
    list-style: none;
    display: flex;
    flex-direction: column;

    margin-top: 100px;

    align-items: center;
    font-size: 50px;

    color: #354733;
    font-weight: bold;

    :last-child {
      color: #8a9b6e;
      background: none;
      font-weight: bold;
    }
  }

  &__cardsSection {
    display: flex;
    justify-content: center;

    padding: 100px;
    padding-top: 0;
    padding-bottom: 0;

    gap: 50px;

    .card {
      img {
        width: 250px;
      }

      h3 {
        margin-bottom: 10px;
        margin-top: 10px;
        color: #354733;
      }

      div {
        background-color: white;
        width: 230px;
        padding-left: 20px;
        padding-top: 10px;
        padding-bottom: 20px;
        transform: translate(0, -50px);
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;

        display: flex;
        gap: 20px;

        color: #354733;

        :last-child {
          text-decoration: line-through;
          color: #afb2aa;
          margin-bottom: 20px;
        }
      }

      button {
        border: none;
        padding: 15px;
        border-radius: 20px;
        background-color: #f0f1ee;
        color: #8a9b6e;
        border: 1px #8a9b6e solid;
      }
    }
  }
}
